* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
}
html, body {
    font-family: ProximaNovaLight, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444;
}
html {
    background: url("header3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    z-index: 1;
}
header {
    text-align: center;
    height: 700px;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
}
header .james {
    padding-top: 35px;
    margin-top: 0px;
}
header h2 {
    padding-top: 40px;
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    color: #444;
    font-family: "Oswald", sans-serif;
}
#portrait {
    border-radius: 50%;
    position: fixed;
    top: 20px;
    left: 20px;
}

header h3:first-of-type {
    padding-top: 40px;
    padding-bottom: 5px;
}

header h3 {
    display: block;
    font-size: 24px;
    padding-top: 5px;
    font-weight: normal;
    color: #444;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 170px;
    z-index: 10;
}

.nav li {
    list-style-type: none;
    width: 50px;
    font-family: "Oswald";
    text-shadow: 1px 1px 0px #fff;
}

.nav li a{
    display: block;
    line-height: 50px;
    background-color: #444;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    border-bottom: 1px solid rgb(239,227,210);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 3px;
 }

.social {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20px;
    right: 0px;
 }

.social li {
    list-style-type: none;
    width: 50px;
 }

.social li a{
    display: block;
    padding-top: 6px;
    background-color: #444;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    border-bottom: 1px solid rgb(239,227,210);
  }

 .main {
    text-align: left;
    margin: 700px auto 0 auto;
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    z-index: 3;
 }

 h2.epicbanner {
   padding-top: 20px;
   padding-left: 20px;
   font-size: 24px;
   text-decoration: underline;
   color: #444;
   font-family: "Oswald", sans-serif;
 }
